<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify User</title>
</head>
<body>
    <% if(!results) {%>
        <h1>Verify User</h1>
        <p>Search for users</p>
        <div>
            <form action="/verify" method="POST">
                <input type="search" name="search">
                <button>Search</button>
            </form>
        </div>
    <% } %>

    <p><%= results %></p>
   
</body>
</html>